<p style="color: green"><%= notice %></p>

<%= render @get_top_album %>

<div>
  <%= link_to "Edit this get top album", edit_get_top_album_path(@get_top_album) %> |
  <%= link_to "Back to get top albums", get_top_albums_path %>

  <%= button_to "Destroy this get top album", @get_top_album, method: :delete %>
</div>
